@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(59, 59, 59);
    font-family: "Montserrat", sans-serif;
    user-select: none;
}

html,body{
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100%;
}
img {
    max-width: 100%;
}
.galary{
    margin: auto;
    border-radius: 5px;
    background-color: lightgray;
    padding: 1rem;
    transition: all .2s ease 0s;
}

/* Zeigendes Bild */

.showing{
    padding: .5rem;
    border-radius: 5px;
    line-height: 0;
    background-color: white;
    transition: all .2s ease 0s;
    position: relative;
    bottom: 0;
}

/* Vorschau Bilder */

.preview{
    display: flex;
    justify-content:space-evenly; 
    border-radius: 5px;
    transform-origin: bottom;
    margin: .2rem 0;
    padding: .5rem 0;
    line-height: 0;
    background-color: white;
    transition: all .2s ease 0s;
    opacity: 1;
}


.preview div{
    transition: all .2s ease 0s;
    opacity: 40%;
    cursor: pointer;
}

.preview div:hover,
.preview div:focus{
    opacity: 100% !important;
    transform: scale(1.1);
    box-shadow: 3px 3px 5px gray;
}

/* Navigations Knöpfe/Eingabe */

.nav{
    margin-top: 1.1rem;
    height: 3rem;
}

.nav ul{
    display: flex;
    list-style: none;
    background-color: lightgray;
    height: 100%;
}

/* Damit die vor-/zurück und der Slideshow Knöpfe rechts sind */
.push-right{
    margin-left: auto !important;
}

#input{
    height: 100%;
    background-color: rgb(168, 204, 250);
    transition: all .2s ease 0s;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 1em;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    letter-spacing: 1.5px;
    cursor: text;
    margin: 0 .5rem;
    box-shadow: 3px 3px 8px rgb(73, 73, 73), -3px -3px 8px white;
}

.nav li{
    margin: 0 .5rem;
    cursor: pointer;
    transition: all .2s ease 0s;
    border-radius: 5px;
    background-color: rgb(168, 204, 250);
    box-shadow: 3px 3px 8px rgb(73, 73, 73), -3px -3px 8px white;
    overflow: hidden;
}

.button,
.button img{
    height: 100%;
    transition: all .2s ease 0s;
    background-color: rgb(168, 204, 250);
}


/* NAV animationen */

/*========== PREVIEWS AUSBLENDEN ==========*/
.line:hover,
.line:focus{
    transform: scale(1.1);
}
.line:hover .button{
    transform: rotate(-90deg);
} 

.line:hover .button::after{
    transform: rotate(90deg);
}

/*========== TIMER INPUT FELD ==========*/
#input:hover,
#input:focus{
    transform: scale(1.04);
}

/*========== TIMER RESET KNOPF ==========*/
.reset:hover,
.reset:focus{
    transform: rotate(45deg);
    box-shadow: 3px 0px 8px rgb(73, 73, 73), -3px 0px 8px white;
}

.reset .button{
    transform: rotate(45deg);
    transition: all .6s ease 0s;
}
.reset:hover .button,
.reset:focus .button{
    transform: rotate(315deg);
}
/*========== SLIDESHOW KNOPF ==========*/
.slideshow:hover,
.slideshow:focus{
    transform: translateY(-12%) scale(1.06);
    box-shadow: 7px 9px 9px rgb(73, 73, 73), -1px -1px 5px white;
    transition: all .08s ease-in-out 0s;
}

.slideshow:active{
    transform: translateY(-6%) scale(1.04);
    box-shadow: 6px 7px 9px rgb(73, 73, 73), -2px -2px 5px white;
}

/*========== LINK-PFEIL KNOPF ==========*/
.push-right:hover,
.push-right:focus{
    transform: rotate(-45deg);
    box-shadow: 0px 3px 8px rgb(73, 73, 73), 0px -3px 8px white;
}
.push-right:hover .button{
    transform: rotate(45deg) scale(1.2) translateX(-10%);
}

/*========== RECHTS-PFEIL KNOPF ==========*/
.next:hover,
.next:focus{
    transform: rotate(45deg);
    box-shadow: 3px 0px 8px rgb(73, 73, 73), -3px 0px 8px white;
}
.next:hover .button{
    transform: rotate(-45deg) scale(1.2) translateX(10%);
}