@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(59, 59, 59);
    font-family: "Montserrat", sans-serif;
    user-select: none;
}

html,body{
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100%;
}
img {
    max-width: 100%;
}
.galary{
    margin: auto;
    border-radius: 5px;
    background-color: lightgray;
    padding: 1rem;
    transition: all .2s ease 0s;
    position: relative;
}

/* Zeigendes Bild */

.showing{
    padding: .5rem;
    border-radius: 5px;
    line-height: 0;
    background-color: white;
    transition: all .2s ease 0s;
    position: relative;
    bottom: 0;
}

/* Vorschau Bilder */

.preview{
    display: flex;
    justify-content:space-evenly; 
    border-radius: 5px;
    transform-origin: bottom;
    margin: .2rem 0;
    padding: .5rem 0;
    line-height: 0;
    background-color: white;
    transition: all .2s ease 0s;
    opacity: 1;
}


.preview div{
    transition: all .2s ease 0s;
    opacity: 40%;
    cursor: pointer;

    &:hover, &:focus{
        opacity: 100% !important;
        transform: scale(1.1);
        box-shadow: 3px 3px 5px gray;
    }
}

/* Navigations Knöpfe/Eingabe */

.nav{
    margin-top: 1.1rem;
    height: 3rem;
    & ul{
        display: flex;
        list-style: none;
        background-color: lightgray;
        height: 100%;
    }
    & li{
        margin: 0 .5rem;
        cursor: pointer;
        transition: all .2s ease 0s;
        border-radius: 5px;
        background-color: rgb(168, 204, 250);
        box-shadow: 3px 3px 8px rgb(73, 73, 73), -3px -3px 8px white;
        overflow: hidden;
    
    }
}

.push-right{
    /* Damit die vor-/zurück und der Slideshow Knöpfe rechts sind */
    margin-left: auto !important;
}

.line{
    width: 3rem;
    position: relative;
}

.minus-line{
    position: relative;
    background-color: black;
    height: 4px;
    width: 70%;
    border-radius: 2px;
    transition: all .2s ease 0s;
}

.plus-line{
    position: absolute;
    background-color: black;
    height: 4px;
    width: 70%;
    border-radius: 2px;
    transition: all .2s ease 0s;
}

#input{
    height: 100%;
    background-color: rgb(168, 204, 250);
    transition: all .2s ease 0s;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 1em;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    letter-spacing: 1.5px;
    cursor: text;
    margin: 0 .5rem;
    box-shadow: 3px 3px 8px rgb(73, 73, 73), -3px -3px 8px white;
}

.button,
.button img{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transition: all .2s ease 0s;
    background-color: rgb(168, 204, 250);
}

/* NAV animationen */
$click-bg: rgb(111, 158, 219);

/*========== PREVIEWS AUSBLENDEN ==========*/
.line{
    &:hover, &:focus{
        transform: scale(1.1);
    }
    &:active .button{
        background-color: $click-bg;
    }
}

/*========== TIMER INPUT FELD ==========*/
#input{
    &:hover, &:focus{
        transform: scale(1.04);
    }
}

/*========== TIMER RESET KNOPF ==========*/
.reset{
    &:hover, &:focus{
        transform: rotate(45deg);
        box-shadow: 3px 0px 8px rgb(73, 73, 73), -3px 0px 8px white;
        & .button{
            transform: rotate(315deg);
        }
    }
    & .button{
        transform: rotate(45deg);
        transition: all .6s ease 0s;
    }
    &:active #reset, &:active{
        background-color: $click-bg;
    }
}

/*========== SLIDESHOW KNOPF ==========*/
.slideshow{
    &:hover, &:focus{
        transform: translateY(-12%) scale(1.06);
        box-shadow: 7px 9px 9px rgb(73, 73, 73), -1px -1px 5px white;
        transition: all .08s ease-in-out 0s;
    }
    &:active{
        transform: translateY(-6%) scale(1.04);
        box-shadow: 5px 6px 7px rgb(73, 73, 73), -2px -2px 5px white;
    }
}

/*========== LINKS-PFEIL KNOPF ==========*/
.push-right{
    &:hover, &:focus{
        transform: rotate(-45deg);
        box-shadow: 0px 3px 8px rgb(73, 73, 73), 0px -3px 8px white;
        & .button{
            transform: rotate(45deg) scale(1.2) translateX(-10%);
        }
    }

    &:active{
        background-color: $click-bg;
        & .button{
            transition: all .1s ease 0s;
            transform: rotate(45deg) scale(1.2) translateX(-15%);
        }
        & #previous{
            background-color: $click-bg;
        }        
    }
}

/*========== RECHTS-PFEIL KNOPF ==========*/
.next{
    &:hover, &:focus{
        transform: rotate(45deg);
        box-shadow: 3px 0px 8px rgb(73, 73, 73), -3px 0px 8px white;
        & .button{
            transform: rotate(-45deg) scale(1.2) translateX(10%);
        }
    }
    &:active{
        background-color: $click-bg;
        & .button{
            transition: all .1s ease 0s;
            transform: rotate(-45deg) scale(1.2) translateX(15%);
        }
        & #next{
            background-color: $click-bg;
        }
    }
}