@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(59, 59, 59);
    font-family: "Montserrat", sans-serif;
}

html,body{
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100%;
}

.galary{
    margin: auto;
    border-radius: 5px;
    background-color: lightgray;
    padding: 1rem;
}

.showing{
    padding: .5rem;
    border-radius: 5px;
    line-height: 0;
    background-color: white;
}

.preview{
    display: flex;
    justify-content:space-evenly; 
    border-radius: 5px;
    margin: .2rem 0;
    padding: .5rem 0;
    line-height: 0;
    background-color: white;
    transition: all .2s ease 0s;
    opacity: 1;
}

.preview div{
    transition: all .2s ease 0s;
    opacity: 40%;
    cursor: pointer;
}

.preview div:hover,
.preview div:focus{
    opacity: 100% !important;
    transform: scale(1.1);
    box-shadow: 3px 3px 5px gray;
}

.nav{
    margin-top: .5rem;
    justify-content: space-between;
    flex-grow: 1;
}

.nav ul{
    display: flex;
    list-style: none;
    background-color: lightgray;
}

.nav li{
    background-color: lightgray;
}

.push-right{
    margin-left: auto;
}

#input{
    font-weight: bold;
    font-size: 1em;
    padding: .5rem;
    display: flex;
    align-items: center;
    border: 1px solid black;
    color: gray;
    font-style: italic;
    cursor: text;
}

.button{
    height: 3rem;
    margin: 0 .5rem;
    cursor: pointer;
    transition: all .2s ease 0s;
    background-color: rgb(168, 204, 250);
    border-radius: 5px;
}

.button:hover,
.button:focus{
    background-color: rgb(106, 160, 230);
}
