@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    user-select: none;
}

html,body{
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100vh;
}

html{
    background-image: url(/pics/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.galary{
    margin: auto;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.288);
    padding: 6rem;
    position: relative;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .3);
}

/* Zeigendes Bild */

.showing{
    padding: .5rem;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    position: relative;
    bottom: 0;
    transition: all .2s ease 0s;
    line-height: 0;
}

/* Vorschau Bilder */

.preview{
    display: flex;
    justify-content:space-evenly; 
    border-radius: 5px;
    transform-origin: bottom;
    margin: 1rem 0;
    margin-bottom: 5rem;
    padding: .5rem 0;
    line-height: 0;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    transition: all .2s ease 0s;
    opacity: 1;
}


.preview img{
    transition: all .2s ease 0s;
    opacity: 40%;
    cursor: pointer;
    transform: scale(1);

    &:hover, &:focus{
        opacity: 100% !important;
        transform: scale(1.1) !important;
        box-shadow: 3px 3px 5px rgba(0, 0, 0, .5);
    }
}

/* Navigations Knöpfe/Eingabe */

.nav{
    height: 3rem;
    & ul{
        display: flex;
        list-style: none;
        height: 100%;
    }
    & li{
        width: 3rem;
        margin: 0 .5rem;
        cursor: pointer;
        transition: all .2s ease 0s;
        border-radius: 5px;
        background-color: rgb(121, 179, 255);
        overflow: hidden;
    }
}

.push-right{
    /* Damit die vor-/zurück und der Slideshow Knöpfe rechts sind */
    margin-left: auto !important;
}

.line{
    width: 3rem;
    position: relative;
}

.minus-line{
    position: relative;
    background-color: black;
    height: 4px;
    width: 70%;
    border-radius: 2px;
    transition: all .2s ease 0s;
}

.plus-line{
    position: absolute;
    background-color: black;
    height: 4px;
    width: 70%;
    border-radius: 2px;
    transition: all .2s ease 0s;
}

#input{
    height: 100%;
    background-color: rgb(121, 179, 255);
    transition: all .2s ease 0s;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 1em;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    letter-spacing: 1.5px;
    cursor: text;
    margin: 0 .5rem;
}

.slideshow-l1{
    position: absolute;
    background-color: black;
    height: 4px;
    width: 70%;
    border-radius: 2px;
    transition: all .2s ease 0s;
    opacity: 0;
}

.slideshow-l2{
    margin: auto;
    position: relative;
    background-color: black;
    height: 4px;
    width: 90%;
    border-radius: 2px;
    transition: all .2s ease .15s;
}

.button,
.button img{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    transition: all .2s ease 0s;
}

/* NAV animationen */
$click-bg: rgb(95, 145, 209);

/*========== PREVIEWS AUSBLENDEN ==========*/
.line{
    &:hover{
        transform: scale(1.1);
    }
    &:active .button{
        background-color: $click-bg;
    }
}

/*========== TIMER INPUT FELD ==========*/
#input{
    &:hover, &:focus{
        transform: scale(1.04);
        outline: none;
    }
}

/*========== TIMER RESET KNOPF ==========*/
.reset{
    &:hover{
        transform: rotate(45deg);
        & .button{
            transform: rotate(315deg)
        }
    }
    & .button{
        transition: all .5s ease;
    }
    &:active{
        background-color: $click-bg;
        & #reset{
            background-color: $click-bg;
        }
    }
}

/*========== SLIDESHOW KNOPF ==========*/
.slideshow{
    position: relative;
    &:hover{
        transform: translateY(-12%) scale(1.06);
        // transition: all .08s ease-in-out 0s;
        box-shadow: 7px 9px 9px rgba(73, 73, 73, 0.7);

        & .button{
            transform: translateY(6px);
        }

        & .slideshow-l1{
            transform: translateY(-17px);
            opacity: 1;
        }

        & .slideshow-l2{
            transform: translateY(-6px);
            opacity: 1;
        }
    }
    &:active{
        transform: translateY(-6%) scale(1.04);
        box-shadow: 5px 6px 7px rgba(73, 73, 73, 0.5);
    }
}

/*========== LINKS-PFEIL KNOPF ==========*/
.push-right{
    &:hover{
        transform: rotate(-45deg);
        & .button{
            transform: rotate(45deg) scale(1.2) translateX(-10%);
        }
    }

    &:active{
        background-color: $click-bg;
        & .button{
            transition: all .1s ease 0s;
            transform: rotate(45deg) scale(1.2) translateX(-15%);
        }
        & #previous{
            background-color: $click-bg;
        }        
    }
}

/*========== RECHTS-PFEIL KNOPF ==========*/
.next{
    &:hover{
        transform: rotate(45deg);
        & .button{
            transform: rotate(-45deg) scale(1.2) translateX(10%);
        }
    }
    &:active{
        background-color: $click-bg;
        & .button{
            transition: all .1s ease 0s;
            transform: rotate(-45deg) scale(1.2) translateX(15%);
        }
        & #next{
            background-color: $click-bg;
        }
    }
}